
body,html{
	background-color: #FA6F59;
	margin: 0;
	padding: 0;
}

<<<<<<< HEAD
header{
	position:initial;
	width: 100%;
	top: 0;
	left: 0;
=======
body,html{
	background-color: #FA6F59;
	margin: 0;
	padding: 0;
}

#indexHeader{
>>>>>>> caa11bac3c901c8b258cbcb976385c06f0823b1c
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
}

#homeFooter{
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
	margin-top: 70%;
}

#searchBar{
	margin-left: 230px;
	margin-top: 10px;
	width: 600px;
	height: 25px;
	border-radius: 7px;
}

#loginButton{
	height: 35px;
	width: 100px;
	background: none;
	margin-left: 870px;
	margin-top: -32px;
	border-radius: 7px;
}

#signupButton{
	height: 35px;
	width: 100px;
	background: none;
	margin-left: 990px;
	margin-top: -35px;
}

#djDiv{
	position: absolute;
	top: 70px;
	height:500px;
	opacity: 0.5;
	position: absolute;
	left: 17%;
}

#registerDiv{
	border-radius: 15px;
	background-color: #524A49;
	height: 420px;
	width: 350px;
	opacity: 0.9;
	margin-top: 100px;
	margin-left: 500px;
}

#loginDiv{
	border-radius: 15px;
	background-color: #524A49;
	height: 380px;
	width: 350px;
	opacity: 0.9;
	margin-top: 100px;
	margin-left: 500px;
}

<<<<<<< HEAD
#loginHead{
	padding: 0;
	margin: 0;
	margin-left: 30%;
	margin-top: 5%;
	font: 40px Impact, Charcoal, sans-serif;
	color: #ffffff;
=======
#regDiv{
	position: absolute;
	margin-left: 45px;
	margin-top: 75px;
>>>>>>> caa11bac3c901c8b258cbcb976385c06f0823b1c
}

#liDiv{
	position: absolute;
	margin-left: 45px;
	margin-top: 30px;
}

#lb{
	height: 35px;
	width: 150px;
	background: none;
	border-radius: 7px;
	margin-top: 5%;
	margin-left: 45%;
}

<<<<<<< HEAD
.forgotPass{
	position: absolute;
	font-size: 16px;
	text-decoration: none;
	margin-top: 230px;
	margin-left: 50px;
	font: 12px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
=======
#rb{
	height: 35px;
	width: 150px;
	background: none;
	border-radius: 7px;
	margin-top: 20%;
	margin-left: 20%;
}

#loginHeader{
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
>>>>>>> caa11bac3c901c8b258cbcb976385c06f0823b1c
}

.regLink{
	position: absolute;
	font-size: 16px;
	text-decoration: none;
	margin-top: 280px;
	margin-left: 35px;
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}

.logLink{
	position: absolute;
	font-size: 16px;
	text-decoration: none;
	margin-top: 325px;
	margin-left: 22px;
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}

.login{
	border-radius: 7px;
	height: 30px;
	width: 250px;
	margin-top: 20px;
	font: 16px "Lucida Console", Monaco, monospace;
}

.regMessage{
	position: absolute;
	font-size: 20px;
	text-decoration: none;
	margin-top: -40px;
	margin-left: 22px;
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}