html{
	padding: 0;
	margin: 0;
}

body,html{
	background-color: #FA6F59;
	margin: 0;
	padding: 0;
}

#indexHeader{
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
}

#homeFooter{
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
	margin-top: 70%;
}

#searchBar{
	margin-left: 230px;
	margin-top: 10px;
	width: 600px;
	height: 25px;
	border-radius: 7px;
}

#loginButton{
	height: 35px;
	width: 100px;
	background: none;
	margin-left: 870px;
	margin-top: -32px;
	border-radius: 7px;
}

#signupButton{
	height: 35px;
	width: 100px;
	background: none;
	margin-left: 990px;
	margin-top: -35px;
}

#djDiv{
	margin-top: 15px;
	height:500px;
	opacity: 0.5;
	position: absolute;
	left: 17%;
}

#loginDiv{
	border-radius: 15px;
	background-color: #524A49;
	height: 380px;
	width: 350px;
	opacity: 0.9;
	margin-top: 100px;
	margin-left: 500px;
}

#liDiv{
	position: absolute;
	margin-left: 45px;
	margin-top: 85px;
}

#lb{
	height: 35px;
	width: 150px;
	background: none;
	border-radius: 7px;
	margin-top: 10%;
	margin-left: 20%;
}

#loginHeader{
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
}

.regLink{
	position: absolute;
	font-size: 16px;
	text-decoration: none;
	margin-top: 280px;
	margin-left: 35px;
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}

.login{
	border-radius: 7px;
	height: 30px;
	width: 250px;
	margin-top: 20px;
	font: 16px "Lucida Console", Monaco, monospace;
}